### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
/PA4/
.idea/*
production/*
src/CSCE434-Charlotte-Gaultier.iml


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/CompilerProject.iml
/.idea/libraries/lib.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/uiDesigner.xml
